<form method="post" class="form-horizontal" data-toggle="wizard">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="mac_address">MAC Address:</label>
            <div class="controls">
                <input type="text" id="mac_address" name="mac_address" class="input-xlarge" value="{{ mac_address }}">
            </div>
        </div>
    </fieldset>
</form>
