<span class="navbar-icon temperature" data-toggle="tooltip" data-placement="bottom" title="Ambient Temperature">
    <i class="fas fa-thermometer-half"></i>
    <span class="temperature-value">-- °C</span>
</span>
<span class="navbar-icon humidity" data-toggle="tooltip" data-placement="bottom" title="Ambient Humidity">
    <i class="fas fa-tint"></i>
    <span class="humidity-value">-- %</span>
</span>